.item-offer-container {
  display: flex;
  border: 1px;
  margin: 0 auto;
}

.item-info-container {
  background-color: lightgrey;
  justify-content: center !important;
  align-items: center;
  margin: 20px;
  padding: 50px;
  width: 600px;
  height: 100vh;
}
//
// item-container {
  // background-color: lightgray;
  // display: flex;
  // width: 400px;
  // height: 400px;
  // justify-content: center;
// }
//
