.item-name-wrapper {
  margin-top: 30px;
}

.item-name {
  border: 2px solid #ffffff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-info {
  border: 2px solid white;
  padding: 10px;
  margin-top: 30px;
}
