.item-name-wrapper {
  margin-top: 100px; /* Add space above the item name */
}

.item-name {
  border: 2px solid #ffffff; /* Border width */
  padding: 10px; /* Add padding to the item name */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center the text horizontally */
  align-items: center; /* Center the text vertically */
  /* Additional styles for the item name */
}



.item-info {
  border: 2px solid white;
  padding: 10px;
  margin-top: 30px;
  /* Additional styles for the item container */
}
