
<div class="d-flex">
  <div>
      <%= render "shared/homepagebutton" %>
  </div>
  <div class="logo-container">
    <%= image_tag("mySell_vertical.png", alt: "mySell", id: "logo-image;") %>
  </div>

</div>
