
/* Style the specific table cell (line 14) with a different text color */
table td:nth-child(1) {
    color: greenyellow; /* Change to your desired color */
    font-weight: lighter;
  }

/* Increase the spacing between different <th> items */
table th {
  padding: 10px; /* Adjust the padding to increase or decrease spacing */
  color: lightgray
}
